@media (max-width: 1280px) {
  .web-could-content {
    margin: 0; } }
@media (max-width: 1024px) {
  .content-width {
    width: 95%; }

  .header-content .content-width, .privacy-wrap .content-width {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  .header-content .left, .privacy-wrap .left {
    width: calc(100% - 285px); }

  .info-wrap .content-width .right {
    width: calc(100% - 350px); }

  .press-wrap .press-content .item {
    width: auto; }

  .top-select ul.select-menu li.item {
    margin-right: 0; }

  .top-select ul.select-menu li.item a {
    padding: 0 4px;
    letter-spacing: -0.4px; }

  .tips-wrap {
    overflow: hidden; }

  .top-line .content-width .logo {
    margin-right: 20px; }
  .mobile-toast {
    display: block;
    position: fixed;
    z-index: 1000;
    min-width: 320px;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    padding: 10px 24px;
    box-shadow: 0 -4px 4px 0 rgba(0,0,0,0.02);
    text-align: center;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
  .mobile-toast a{
    height: 48px;
    line-height: 44px;
    border: 2px solid #000;
    border-radius: 3px;
    text-align: center;
    display: block;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16);
  }
  .mobile-toast a img{
    max-height: 100%;
    padding: 5px 0;
  }
  .top-line .content-width .top-menu ul li {
    margin-right: 25px; } }
@media (max-width: 767px) {
  .top-line .content-width .top-menu, .top-line .content-width .right .btn-wrap {
    display: none; }

  .icon-menu {
    display: inline-block !important;
    width: 18px;
    height: 16px;
    position: absolute;
    top: 27px;
    right: 15px;
    cursor: pointer; }
    .icon-menu:after {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -57%);
              transform: translate(-50%, -57%);
      width: 42px;
      height: 42px;
      border-radius: 100%;
      z-index: -1;
      background: transparent;
      content: ''; }

  .icon-menu .slicknav_icon-bar {
    width: 18px;
    height: 3px;
    background: #999;
    float: right;
    position: relative;
    top: 0; }

  .icon-menu .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 3px; }

  .icon-menu.active:after {
    background-color: #f0f0f0; }
  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 3px; }
  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -9px; }
  .icon-menu.active span:nth-child(2) {
    opacity: 0; }

  .menu-responsive {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
    visibility: hidden;
    -webkit-transition: top 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: top 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    overflow: hidden; }
    .menu-responsive .wrap-panel {
      width: 100%;
      position: absolute;
      top: -300px;
      right: 0;
      -webkit-box-shadow: 0 21px 48px 0 rgba(14, 32, 55, 0.14);
              box-shadow: 0 21px 48px 0 rgba(14, 32, 55, 0.14);
      background-color: #ffffff;
      overflow: hidden;
      display: inline-block; }
      .menu-responsive .wrap-panel .menu-wrap {
        width: 100%; }
        .menu-responsive .wrap-panel .menu-wrap ul li {
          border-bottom: 1px solid #d1d2d3;
          background-color: #ffffff; }
          .menu-responsive .wrap-panel .menu-wrap ul li a {
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.78;
            letter-spacing: normal;
            color: #000000;
            padding: 0 35px; }
      .menu-responsive .wrap-panel .bottom-wrap {
        display: none;
        padding: 9px 0; }
        .menu-responsive .wrap-panel .bottom-wrap a {
          width: 280px;
          margin: auto;
          display: block; }
          .menu-responsive .wrap-panel .bottom-wrap a img {
            vertical-align: top; }

  .menu-responsive.active {
    z-index: 9989;
    visibility: visible;
    background: rgba(0, 0, 0, 0.5); }
    .menu-responsive.active .wrap-panel {
      top: 70px; }

  .top-line .content-width .logo {
    width: 115px; }

  .top-line {
    padding: 20px 0 12px; }

  .sticky-wrapper {
    height: 70px !important; }

  .is-sticky .top-line {
    padding: 20px 0 12px; }

  .sticky-wrapper {
    position: relative;
    z-index: 9990; }

  .header-content .right {
    width: 135px; }

  .header-content .left {
    width: calc(100% - 150px);
    padding: 0; }

  h1 {
    font-size: 24px !important;
    margin-bottom: 22px !important; }

  h2 {
    font-size: 24px !important;
    margin-bottom: 22px !important; }

  .header-content .left p {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.44; }

  .header-content {
    padding: 37px 0; }

  .info-wrap .content-width .left {
    width: 150px; }

  .info-wrap .content-width .right {
    width: calc(100% - 165px); }

  .info-wrap {
    padding: 50px 0 0; }

  .privacy-wrap .right {
    width: 157px; }

  .privacy-wrap .left {
    width: calc(100% - 170px); }

  .web-could-wrap {
    padding: 50px 0 0; }

  .press-wrap .press-content .item {
    width: 48%;
    margin-bottom: 20px; }

  .top-select .select-block {
    display: inline-block;
    width: 300px; }
    .top-select .select-block .select2-container {
      width: 100% !important; }

  .top-select ul.select-menu li.item {
    display: none; }

  .select2-container .select2-selection--single {
    height: 38px; }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px; }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px; }

  .top-select ul.select-menu {
    position: absolute;
    top: 14px;
    left: inherit;
    right: 10px; }

  .top-select ul.active {
    left: 10px; }

  .top-select .content-width {
    position: relative; }

  .tips-wrap .content-width {
    width: 100%; }

  .tips-wrap .content-width .item figure a img {
    border-radius: 0; }

  .tips-wrap .content-width .item .text {
    padding: 0 20px; }

  .tips-wrap .content-width .item figure {
    margin-bottom: 15px; }

  .tips-wrap .content-width .item p {
    display: none; }

  .tips-wrap .content-width .item p.info {
    margin-bottom: 5px;
    display: block; }

  .tips-wrap .content-width .item {
    margin-bottom: 30px;
    width: 100%; }

  .tips-wrap .content-width .item h5 a {
    font-size: 20px; }

  .tip-wrap .content-width {
    width: 100%; }
    .tip-wrap .content-width figure img {
      border-radius: 0; }
    .tip-wrap .content-width p, .tip-wrap .content-width h4 {
      padding: 0 20px !important; }

  .tip-wrap, .tips-wrap {
    padding: 25px 0; }

  .tip-wrap h1 {
    font-size: 30px !important;
    padding: 0 20px; }

  .tip-wrap p.info, .tip-wrap figure {
    margin-bottom: 30px; }

  .tip-wrap p, .tip-wrap p a {
    font-size: 16px;
    margin-bottom: 30px; }

  .tip-wrap ul {
    padding: 0 20px; }

  .tip-wrap ul li {
    font-size: 16px;
    margin: 0; }

  .tip-wrap blockquote {
    margin: 0 0 30px;
    padding: 0 20px; }

  .tip-wrap .content-width blockquote p {
    font-size: 18px;
    padding: 0 !important; }

  .tip-wrap blockquote p.author {
    font-size: 16px;
    margin-bottom: 30px; }

  .tip-wrap h4 {
    font-size: 24px;
    margin-bottom: 30px; }

  .top-select {
    padding: 20px 0 10px; }

  html[dir=rtl] .icon-menu {
    right: inherit;
    left: 15px; }
  html[dir=rtl] .top-select ul.select-menu {
    left: 0;
    right: 0; }
  html[dir=rtl] .top-select ul.select-menu li.find .btn-find {
    float: left; }
  html[dir=rtl] .tips-wrap .content-width .item figure a img {
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }

  .top-select .select-block {
    position: relative;
    z-index: 11; }

  .btn-sticky {
    margin-right: 40px; }

  .btn-sticky.active a {
    top: -5px; }

  .top-line .content-width .right .select-block {
    margin-right: 30px; }
  .page-template-page-faq-template .tips-wrap .content-width .item p{
    display: block;
  }
  .page-template-page-faq-template .top-select ul.select-menu{
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    padding: 15px 15px 0;
  }
  .page-template-page-faq-template .top-select ul.select-menu li.form{
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
  }
  .archive .top-select ul.select-menu, .search .top-select ul.select-menu{
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    padding: 15px 15px 0;
  }
  .single-faq .top-select ul.select-menu{
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    padding: 15px 15px 0;
  }
  .single-faq .top-select ul.select-menu li.form, .search .top-select ul.select-menu li.form{
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
  }
  .archive .top-select ul.select-menu li.form{
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
  }
  .search .top-select .select-block{
    display: none!important;
  }
  .search .top-select ul.select-menu li.find{
    top: 5px;
    right: 5px;
  }
  .category .top-select ul.select-menu{
    position: absolute;
    top: 14px;
    left: inherit;
    right: 10px;
    padding: 0;
    width: auto;
  }
  .category .top-select ul.select-menu li.form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
  }
  .category .top-select ul.active {
    left: 10px;
  }
  .dd-selected {
    padding: 4px !important; } }
@media (max-width: 568px) {
  .header-content {
    padding: 33px 0 22px; }

  .header-content .right {
    width: 100%;
    margin: 0 auto 22px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
    .header-content .right figure {
      text-align: center; }
    .header-content .right img {
      width: 165px; }

  .header-content .left {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .header-content .left h1 {
    text-align: center; }

  .header-content .left p {
    text-align: center;
    margin: auto; }

  .header-content .left a {
    display: none; }

  /*.btn-mob {
    display: block;
    padding: 15px 0;
    text-align: center;
    -webkit-box-shadow: 0 3px 10px 0 rgba(19, 21, 32, 0.05);
            box-shadow: 0 3px 10px 0 rgba(19, 21, 32, 0.05); }
    .btn-mob a {
      width: 210px;
      margin: auto; }
      .btn-mob a img {
        vertical-align: top; }*/

  .info-wrap .content-width .left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    text-align: center; }
    .info-wrap .content-width .left img {
      width: 165px; }

  .info-wrap .content-width .right {
    width: 100%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
    .info-wrap .content-width .right h2 {
      text-align: center;
      max-width: 80%;
      margin: 0 auto 20px; }

  .info-wrap {
    padding: 0; }

  .info-wrap .content-width .right p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px; }

  .info-wrap .content-width .left figure {
    left: 0; }

  .privacy-wrap .left {
    padding: 25px 0 0;
    width: 100%;
    text-align: center; }

  .privacy-wrap .right {
    width: 100%; }

  .privacy-wrap .right figure {
    top: 0;
    text-align: center; }
    .privacy-wrap .right figure img {
      width: 165px; }

  .privacy-wrap .right {
    width: 100%; }

  .privacy-wrap .left p {
    font-size: 20px;
    text-align: center;
    margin: 0 auto 20px; }

  .privacy-wrap .left h2 {
    margin-bottom: 35px !important; }

  .privacy-wrap {
    padding: 26px 0 40px; }

  .web-could-wrap h2 {
    margin-bottom: 43px !important; }

  .web-could-content .right {
    width: 95px;
    position: absolute;
    bottom: 0;
    left: 2px;
    z-index: 1; }

  .web-could-content .left {
    width: 100%;
    position: relative;
    left: 75px;
    z-index: 2; }

  .web-could-content {
    position: relative; }

  .web-could-wrap {
    overflow: hidden; }

  .owl-nav .owl-next, .owl-nav .owl-prev {
    width: 40px;
    height: 49px;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 10px 0 rgba(19, 21, 32, 0.05);
            box-shadow: 0 3px 10px 0 rgba(19, 21, 32, 0.05);
    background-color: #ffffff; }

  .owl-nav {
    top: -13px;
    left: -12%;
    right: -12%; }

  .testimonials-wrap {
    overflow: hidden; }

  .testimonials-wrap h2 {
    margin-bottom: 35px !important; }

  .testimonials-wrap {
    padding: 60px 0; }

  .press-wrap .press-content .item img {
    max-width: 80%; }

  .press-wrap {
    padding: 60px 0; }

  footer .btn-wrap {
    display: none; }

  footer {
    padding: 40px 0 20px; }

  .top-select .select-block {
    width: 240px; }

  .top-search {
    left: -10px;
    right: -10px; }

  html[dir=rtl] .header-content .left {
    padding-left: 0; }

  .content-width {
    width: 85%; }

  .btn-sticky {
    width: 115px;
    margin-right: 0;}
  .btn-sticky a{
    display: inline-block;
    width: 100%;

  }
  .btn-sticky a img{
    width: 100%;
  }
  .top-line .content-width .right .select-block {
    margin-right: 15px; }

  .top-select .content-width {
    width: 95%; }
  .top-line .content-width{
    width: 100%;
    padding: 0 10px;
  }
  .tips-wrap .content-width .item figure {
    height: 180px; }
    .tips-wrap .content-width .item figure a {
      height: 180px; }

  .top-line .content-width .logo {
    width: 125px;
    margin: 0;
  }
  .top-line .content-width .left{
    width: 80px;
  }
  .top-line .content-width .right {
    width: calc(100% - 85px);
    padding-right: 35px;
  }
  .top-line .content-width .right .select-block{
    margin-right: 0;
  }
  .dd-option-image, .dd-selected-image {
    margin-right: 10px !important;
  }
  .btn-sticky.active-mob a {
    top: -5px;
  }
  .sticky-wrapper {
    height: 64px !important;
  }
  .dd-selected-text{
    font-size: 0;
    color: #fff;
    opacity: 0;
  }
  .dd-selected-image{
    float: right!important;
  }
  footer {
    padding: 40px 0 70px;
  }
  .testimonials-slider .item blockquote {
    margin: 0 15px;
  }
}
@media (max-width: 400px){

}
@media (max-width: 350px){
  .btn-sticky {
    width: 85px;
    margin-right: 0;}
}
/*# sourceMappingURL=responsive.css.map */